@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

body
{
	font-family: "Inconsolata", serif;
	font-size: 20px;
	background-size: 100vw 100vh;
	margin: 0;
	font-weight: 300;
	/* background: radial-gradient(circle at 0% 0%, #747F4C, transparent 100%),radial-gradient(circle at 100% 100%, rgb(61, 69, 32), transparent 100%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%); */
	background: radial-gradient(circle at 0% 100%, #414d0b, transparent 100%),radial-gradient(circle at 100% 42.03%, #727a17, transparent 100%),radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%);
	min-height: 100vh;
}

.whitebody
{
	background: linear-gradient(to bottom, #CED2BE 0%, #B5BD9B 100%);
}

h1, h2, h3, h4, h5, h6
{
	font-weight: 700;
}

#title
{
	font-weight: 700;
	font-size: 36px;
	margin-top: 12px;
	margin-bottom: 18px;
}

#code-container
{
	margin-top: 12px;
	margin-bottom: 18px;
	
	background-color: black;
	background: linear-gradient(45deg, #404040 0%, rgb(35, 35, 35) 100%);
	border-top: 2px gray solid;
	border-left: 2px gray solid;
	border-bottom: 2px black solid;
	border-right: 2px black solid;
	padding-top: 6px;
	padding-bottom: 6px;
	width: 100%;
}

#code
{
	font-weight: 900;
	font-size: 60px;
	text-shadow: 2px 2px 6px black;
	letter-spacing: 5px;
	color: rgb(198, 255, 159);
	
}

#verbose
{
	font-weight: 500;
	font-size: 30px;
	margin-top: 12px;
	margin-bottom: 18px;
}

#name
{
	color: rgb(235, 119, 119);
	font-size: 15px;
	font-weight: 700;
	padding-top: 2px;
	padding-bottom: 4px;
}



.container
{
	text-align: center;
	height: 100vh;
	position: relative;
}

.center
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 32px;
	box-shadow: 0 6px 0 rgb(178, 178, 178),
				3px 3px 10px rgba(0, 0, 0, 0.2);
}

.embed
{
	display: grid;
	place-items: center;
	text-align: center;
	padding: 32px;
}



.footer
{
	position: absolute;
	bottom: 0;
	text-align: center;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.1);
	padding: 3px;
	font-size: 18px;
}



.footer-inner
{
	display: inline-block;
	color: white;
	text-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.footer-inner a:visited, .footer-inner a:link
{
	color: white;
}

button
{
	font-size: 24px;
	color: white;
	background-color: #617214;
	border: none;
	padding: 4px 13px;
	box-shadow: 0 4px 0 #39430b,
			2px 2px 6px rgba(0, 0, 0, 0.2);
}

button:hover, button:active
{
	background-color: #88a01d;
	box-shadow: 0 4px 0 #5c6d12;
}

button:active
{
	margin-top: 2px;
	margin-bottom: -2px;
	box-shadow: 0 2px 0 #39430b,
			2px 2px 6px rgba(0, 0, 0, 0.2);
}

.reveal
{
	background-color: #1d51a0;
	box-shadow: 0 4px 0 #0b0c43,
			2px 2px 6px rgba(0, 0, 0, 0.2);
}

button.reveal:hover, button.reveal:active
{
	background-color: #4486cb;
	box-shadow: 0 4px 0 #12496d;
}




.main-container
{
	max-width: 60rem;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 6px 6px 18px rgba(24, 64, 23, 0.3);
}


.document
{
	background: #e8fff4dd;
	padding: 1rem 3rem;
	backdrop-filter: blur(8px);
	margin-top: none;
	min-height: 100vh;
}




table
{
	border: 1px solid rgb(178, 209, 169);
	border-collapse: collapse;
	background-color: white;
	font-weight: 500;
	font-size: 24px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

thead
{
	padding: 2px;
	background: linear-gradient(45deg, #105f55 0%, #095134 100%);
	color: white;
	font-size: 18px;
	font-weight: 300;
	text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

th
{
	font-weight: 600;
	border: 1px solid #218275;
}

td
{
	border: 1px solid rgb(178, 209, 169);
}

th, td
{
	padding: 4px 10px;
}

.guide-container
{
	display: flex;
	align-items: center;
  justify-content: center;
  gap: 20px;
}


.centered
{
	text-align: center;
}

.guide-padding
{
	
	padding: 40px;
	padding-top: 16px;
}