{% extends "base.html" -%}
{% block body -%}

<script type="text/javascript">


var cycle = true;

function nextjawn()
{
	var verbose = document.getElementById("verbose");
	var next = document.getElementById("next");
	if (cycle)
	{
		newcode();
		verbose.style = "filter: blur(13px);";
		next.innerHTML = "reveal";
		next.classList.add("reveal");

	}
	else
	{
		verbose.style = "filter: blur(0);";
		document.getElementById("next").innerHTML = "next";
		next.classList.remove("reveal");
	}

	cycle = !cycle;
}

async function newcode() 
{
	const response = await fetch("getcode");
	jawn = await response.json();
	document.getElementById("code").innerHTML = jawn[0];
	document.getElementById("verbose").innerHTML = jawn[1];
	document.getElementById("name").innerHTML = jawn[2];
}

window.onload = function() {
	nextjawn();
}

</script>

{% if mode == "embed" %}
<div class="embed">
{% else %}
<div class="container">
	<div class="center">
{% endif %}
	

		<div id="title">NATO Alphabet Trainer</div>
		<div id="code-container">
			<div id="code">N600LL</div>
			<div id="name">rofl</div>
		</div>
		<div id="verbose">november six zero zero lima lima</div>
		<button id="next" onclick="nextjawn()">next</button>
{% if mode == "embed" %}
</div>
{% else %}
	</div>
</div>
{% include 'footer.html' %}
{% endif %}



{%- endblock %}