{% extends "base.html" -%}
{% block body -%}

<script type="text/javascript">


var cycle = true;

function nextjawn()
{
	var verbose = document.getElementById("verbose");
	var next = document.getElementById("next");
	if (cycle)
	{
		newcode();
		verbose.style = "filter: blur(13px);";
		next.innerHTML = "reveal";
		next.classList.add("reveal");

	}
	else
	{
		verbose.style = "filter: blur(0);";
		document.getElementById("next").innerHTML = "next";
		next.classList.remove("reveal");
	}

	cycle = !cycle;
}

async function newcode() 
{
	const response = await fetch("getcode");
	jawn = await response.json();
	document.getElementById("code").innerHTML = jawn[0];
	document.getElementById("verbose").innerHTML = jawn[1];
}

window.onload = function() {
	nextjawn();
}

</script>

<div class="container">
	<div class="center">
		<div id="title">NATO Alphabet Trainer</div>
		<div id="code">N600LL</div>
		<div id="verbose">november six zero zero lima lima</div>
		<button id="next" onclick="nextjawn()">next</button>
	</div>
</div>
<div class="footer">
	<div class="footer-inner">a tool by <a href="https://github.com/nicksmadscience/natotrainer">Nick Piegari</a></div>
</div>

{%- endblock %}