
{% extends "base.html" -%}
{% block body -%}

		<div class="center centered guide-padding">
		<h1>Guide</h1>
		<div class="guide-container">
			<div class="guide-side">
	
		
		<table>
			<thead>
			<tr>
			<th>Letter</th>
			<th>NATO</th>
			</tr>
			</thead>
			<tbody>
			<tr>
			<td>A</td>
			<td>alpha</td>
			</tr>
			<tr>
			<td>B</td>
			<td>bravo</td>
			</tr>
			<tr>
			<td>C</td>
			<td>charlie</td>
			</tr>
			<tr>
			<td>D</td>
			<td>delta</td>
			</tr>
			<tr>
			<td>E</td>
			<td>echo</td>
			</tr>
			<tr>
			<td>F</td>
			<td>foxtrot</td>
			</tr>
			<tr>
			<td>G</td>
			<td>golf</td>
			</tr>
			<tr>
			<td>H</td>
			<td>hotel</td>
			</tr>
			<tr>
			<td>I</td>
			<td>india</td>
			</tr>
			<tr>
			<td>J</td>
			<td>juliet</td>
			</tr>
			<tr>
			<td>K</td>
			<td>kilo</td>
			</tr>
			<tr>
			<td>L</td>
			<td>lima</td>
			</tr>
			<tr>
			<td>M</td>
			<td>mike</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="guide-side">
		<table>
			<thead>
			<tr>
			<th>Letter</th>
			<th>NATO</th>
			</tr>
			</thead>
			<tbody>

		
			<tr>
			<td>N</td>
			<td>november</td>
			</tr>
			<tr>
			<td>O</td>
			<td>oscar</td>
			</tr>
			<tr>
			<td>P</td>
			<td>papa</td>
			</tr>
			<tr>
			<td>Q</td>
			<td>quebec</td>
			</tr>
			<tr>
			<td>R</td>
			<td>romeo</td>
			</tr>
			<tr>
			<td>S</td>
			<td>sierra</td>
			</tr>
			<tr>
			<td>T</td>
			<td>tango</td>
			</tr>
			<tr>
			<td>U</td>
			<td>uniform</td>
			</tr>
			<tr>
			<td>V</td>
			<td>victor</td>
			</tr>
			<tr>
			<td>W</td>
			<td>whiskey</td>
			</tr>
			<tr>
			<td>X</td>
			<td>x-ray</td>
			</tr>
			<tr>
			<td>Y</td>
			<td>yankee</td>
			</tr>
			<tr>
			<td>Z</td>
			<td>zulu</td>
			</tr>
			
			</tbody>
			</table>
		</div>
	</div>
</div>
	

	{% include 'footer.html' %}


	{%- endblock %}